h1 {
    color:#0000FF;
}
 
h2 {
    color:#FF0000;
}
 
table {
    border-collapse: collapse;
}
 
table th, table td {
    padding: 5px;
}

@charset "UTF-8";
.container {
  border: 1px solid red;
  margin: 10px;
}
.row {
  margin: 10px;
  border: 1px solid blue;
}