<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
<meta charset="utf-8">
<title>Form Template</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="col-md-6 col-md-offset-3">
				<form name="insert" id="insert" action="/insert" method="post"
					enctype="multipart/form-data" th:object="${personInfo}">

					<div class="form-group">
						<label for="FullName">FullName</label> 
						<input type="text" class="form-control" placeholder="FullName" th:field="*{FullName}">
					</div>
					<span class="bg-danger" th:if="${#fields.hasErrors('FullName')}"
                    		th:errors="*{FullName}"></span>

					<div class="form-group">
						<label for="FirstName">FirstName</label> <input type="text"
							class="form-control" name="FirstName" placeholder="FirstName">
					</div>

					<div class="form-group">
						<label for="LastName">LastName</label> <input type="text"
							class="form-control" name="LastName" placeholder="LastName">
					</div>

					<div class="form-group">
						<label for="ClassName">ClassName</label> <input type="text"
							class="form-control" name="ClassName" placeholder="ClassName">
					</div>

					<div class="form-group">
						<label for="Grade">Grade</label> 
						<input type="text"
							class="form-control" th:field="*{Grade}" placeholder="Grade" >
					</div>
					<span class="bg-danger" th:if="${#fields.hasErrors('Grade')}"
                    		th:errors="*{Grade}"></span>
					

					<div class="form-group">
						<label for="Gender">gender</label>
							<label class="radio-inline">
							<input type="radio" name="gender" id="optionsRadios1" value="male" checked>Male
							</label> 
							<label class="radio-inline">
							<input type="radio" name="gender" id="optionsRadios2" value="woman">Woman
							</label>
					</div>

					<div class="form-group">
						<label for="age">Age</label>
							<input type="number" class="form-control" name="age"  placeholder="age">						
					</div>

					<br>
					<!-- address追加 -->
					<table>
						<tr>
							<td colspan="2" align="left" bgcolor="#FFFFFF">
								<table>
									<tr>
										<td colspan="5" bgcolor="#FFFFFF" height="25" align="left">
											<input name="addButton" type="button" style="cursor: hand"
											onClick="insRow()" value="Address"> <font
											color="#FF0000">*</font> 住所の追加は押してください。
										</td>
									</tr>
									<tr>
										<td height="25">
											<table id="addTable">
												<tr>
													<td><input type="text" name="addText"
														style="width: 350px; height: 20px;"></td>
													<td align="left"></td>
												</tr>
											</table>
											<br>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table><br>
 					
 					<div id="attachFileDiv"  class="form-group">
					<input type="button" value="追加" onclick="attachFile.add()" style="margin-left: 5px">
					</div>
					
					<br>
					<button type="submit" class="btn btn-default">Create</button>
					<input type="reset" value="cancel" class="btn btn-default">
				</form>
			</div>
		</div>
	</div>

</body>
</html>