<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<script>
	var counter = 1;
	function AddRow() {
		if (counter > 10) {
			alert("Only 10 textboxes allow");
			return false;
		}

		var newTextBoxDiv = $(document.createElement('div')).attr("id",
				'TextBoxDiv' + counter);

		newTextBoxDiv
				.after()
				.html(
						'<div class="form-group" id="TextBoxDiv'+counter+'"><div><label class="col-sm-2 control-label">Address </label>'
								+ '<div class="col-sm-7"><input type="text" class="form-control" name="a'
                            + '"  th:value="" ></div>'
								+ '<input type="button" value="Remove Button" id="removeButton'
								+ counter
								+ '" onclick="deleteControl('
								+ counter + ')"></div></div>');

		newTextBoxDiv.appendTo("#TextBoxesGroup");

		counter++;
	}

	$("#upa").click(function() {

		var msg = '';
		for (i = 1; i < counter; i++) {
			msg += "\n Textbox #" + i + " : " + $('#Address' + i).val();
		}
		alert(msg);
	});

	function deleteControl(counter) {
		$("#TextBoxDiv" + counter).remove();
	}
</script>

</head>
<body>
	<div class="form-horizontal" layout:fragment="content">

		<div class="container">
			<div class="col-md-6 col-md-offset-3">
				<h2>Person Info Edit</h2>
				<form name="editpage" id="editpage" action="/edit" method="post"
					th:object="${person}" enctype="multipart/form-data">
					<input type="hidden" th:value="${person.PersonID}" name="pid" />

					<div class="form-group">
						<label for="FullName" class="col-sm-2 control-label">FullName</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" name="fu"
								placeholder="FullName" th:value="${person.FullName}">
						</div>
					</div>

					<div class="form-group">
						<label for="FirstName" class="col-sm-2 control-label">FirstName</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" name="fs"
								placeholder="FirstName" th:value="${person.FirstName}">
						</div>
					</div>

					<div class="form-group">
						<label for="LastName" class="col-sm-2 control-label">LastName</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" name="ls"
								placeholder="LastName" th:value="${person.LastName}">
						</div>
					</div>

					<div class="form-group">
						<label for="ClassName" class="col-sm-2 control-label">ClassName</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" name="cs"
								placeholder="ClassName" th:value="${person.ClassName}">
						</div>
					</div>

					<div class="form-group">
						<label for="Grade" class="col-sm-2 control-label">Grade</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" name="g"
								placeholder="Grade" th:value="${person.Grade}" maxlength="10">
						</div>
					</div>

					<div th:each="person,stat : ${person.mongoList}">
						<div class="form-group">
							<label for="Gender" class="col-sm-2 control-label">gender</label>
							<div th:switch="${person.gender}">
								<p th:case="male">
									<a>&nbsp;&nbsp;&nbsp;</a> male <input type="radio"
										name="gender" th:value="male" checked> woman<input
										type="radio" name="gender" th:value="woman">
								</p>
								<p th:case="woman">
									<a>&nbsp;&nbsp;&nbsp;</a> male<input type="radio" name="gender"
										th:value="male"> woman<input type="radio"
										name="gender" th:value="woman" checked>
								</p>
							</div>
						</div>
					</div>


					<div th:each="person,stat : ${person.mongoList}">
						<div class="form-group">
							<label for="age" class="col-sm-2 control-label">Age</label>
							<div class="col-sm-7">
								<input type="hidden" th:value="${person.age}" name="mongoAge" />
								<input type="number" class="form-control" name="age" min="1"
									max="150" th:value="${person.age}">
							</div>
						</div>
					</div>

					<div th:each="person,stat : ${person.mongoList}">
						<div class="form-group">
							<label for="job" class="col-sm-2 control-label">Job</label>
							<div class="col-sm-7">
								<input type="hidden" th:value="${person.job}" name="mongoJob" />
								<input type="text" class="form-control" name="job"
									th:value="${person.job}">
							</div>
						</div>
					</div>

					<div th:each="person,stat : ${person.alist}">
						<div class="form-group">
							<div>
								<label for="address1" class="col-sm-2 control-label">Address</label>
								<div class="col-sm-7">
									<input type="hidden" th:value="${person.AddressID}" name="aid" />
									<input type="text" class="form-control" name="a"
										th:value="${person.address}" />
								</div>
								<input type='button' value='Remove Button' id='${stat.index}'
									onCLick="this.parentElement.remove();" />
							</div>
						</div>
					</div>

					<div id='TextBoxesGroup'></div>
					<div>
						<input type='button' value='Add Address' id='addButton'
							onCLick="AddRow()">
					</div>
					<br />

					<div class="form-group">
						<label for="Gender" class="col-sm-2 control-label">Image</label> <input
							type="file" class="multi with-preview" name="files" multiple />
					</div>
					<br />


					<div th:each="person,stat : ${person.fileString}">
						<div class="form-group">
							<input type="hidden" th:value="${person.FileID}" name="image" />
							<input type="hidden" th:value="${person.uploadRootPath}"
								name="uploadRootPath" /> <input type="hidden"
								th:value="${person.serverFile}" name="serverFile" /> <input
								type="hidden" th:value="${person.name}" name="name" /> <img
								id="ShowImage" th:src="'/photo/' + ${person.name}" height="100"
								width="100" name="name" th:value="${person.name}" /> <input
								type="button" onCLick="this.parentElement.remove();"
								value='Remove image' />
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default" name="update">Update</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>