<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Person List</title>
 
<style>
th, td {
    padding: 5px;
}
</style>
 
</head>
 
<body>
<h1>Person Info</h1>
    <!-- Include _menu.html -->
   <form action="searchInfo" method ="POSt">
 
  <table >
   <tr>
    <th>FullName</th>
    <th><input type="text"  name="fullname"></th> 
    
  </tr>
   <tr>
    <th>ClassName</th>
    <th><input type="text"  name="classname"></th> 
    
  </tr>
  <tr>
  	<th colspan="2"><button type="submit" >Submit</button></th>
  </tr>
  </table>
  
 
 	
 
 	
    <h2>Person List</h2>
 
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Class</th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="person : ${personInfo}">
            <td th:utext="${person.PersonID}">..</td>
            <td th:utext="${person.FullName}">..</td>
            <td th:utext="${person.ClassName}">..</td>
            <td><a th:href="${'/edit/pid='+person.PersonID}">Edit</a></td>
            <td><a th:href="${'/delete/pid='+person.PersonID}">Delete</a></td>

            
        </tr>
 
    </table>
    </form>
    <form action="/create">
    <button type="submit" class="">Submit</button>
  	</form>
  
</body>
</html>