<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
<meta charset="utf-8">
<title>Person List Template</title>
</head>

<body>

	<div layout:fragment="content">
		<div class="container">
			<div class="col-md-6 col-md-offset-3">
				<h1>Person Info</h1>
				<!-- Include _menu.html -->
				<form id="sampleForm" action="searchInfo" method="post"
					modelAttribute="person">

					<div class="form-group">
						<label for="FullName">FullName</label> <input type="text"
							class="form-control" name="fullname">
					</div>

					<div class="form-group">
						<label for="ClassName">ClassName</label> <input type="text"
							class="form-control" name="classname">
					</div>

					<button type="submit" class="btn btn-default">Search</button>

					<h2>Person List</h2>
					<table class="table table-hover">
					<tr>
							<th>ID</th>
							<th>Full Name</th>
							<th>Class</th>
							<th>住所</th>
							<th>修正</th>
							<th>削除</th>
						</tr>
					<tr th:each="person : ${personInfo}">
     				 <td th:each="entry : ${person}" th:text="${entry.value}" ></td>
     			<!-- 	<td> <a th:href="${'/edit/pid='+person.id}">Edit</a></td>
							<td><a th:href="${'/delete/pid='+person.id}">Delete</a></td> -->
  					 </tr>

						</tr>
					<!-- 	<tr>
							<th>ID</th>
							<th>Full Name</th>
							<th>Class</th>
							<th>住所</th>
							<th>修正</th>
							<th>削除</th>
						</tr>
						<tr th:each="person : ${personInfo}">
							<td th:utext="${person.PersonID}">..</td>
							<td th:utext="${person.FullName}">..</td>
							<td th:utext="${person.ClassName}">..</td>
							<td>
							
							<div th:each="list :${person.alist}">
								<div th:utext="${list.address}"></div>
							</div>
							 
						</td>
							
						</tr>
						-->
					</table>
				</form>
			</div>
		</div>
	</div>
</body>
</html>