<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>personList Template</title>

<!-- Bootstrap -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script
	src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


<script>
$(document).ready(function() {
    $('#sampleForm').submit(
        function(event) {
            var fullname = $('#fn').val();
            var classname = $('#cs').val();                
            var data = 'fullname='
                    + $('#fn').val()
                    +'& classname='
                    +$('#cs').val();
            alert( data );
            $.ajax({
                url : $("#sampleForm").attr("action"),
                data : 'fullname='
                    + $('#fn').val()
                    +'& classname='
                    +$('#cs').val();
                type : "POST",
 
                success : function(response) {
                    alert( response );
                },
                error : function(xhr, status, error) {
                    alert(xhr.responseText);
                }
            });
            return false;
        });
    });
</script>
</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<a class="navbar-brand" href="#">DayBridge</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/form.html">登録</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<div class="container">
		<div class="col-md-6 col-md-offset-3">
			<h1>Person Info</h1>
			<!-- Include _menu.html -->
			<form id="sampleForm" action="searchInfo" method="post">

				<div class="form-group">
					<label for="FullName">FullName</label> <input type="text"
						class="form-control" name="fullname">
				</div>

				<div class="form-group">
					<label for="ClassName">ClassName</label> <input type="text"
						class="form-control" name="classname">
				</div>

				<button type="submit" class="btn btn-default">create</button>

				<h2>Person List</h2>
				<table class="table table-hover">
					<tr>
						<th>ID</th>
						<th>Full Name</th>
						<th>Class</th>
						<th>修正</th>
						<th>削除</th>
					</tr>
					<tr th:each="person : ${personInfo}">
						<td th:utext="${person.PersonID}">..</td>
						<td th:utext="${person.FullName}">..</td>
						<td th:utext="${person.ClassName}">..</td>
						<td><a th:href="${'/edit/pid='+person.PersonID}">Edit</a></td>
						<td><a th:href="${'/delete/pid='+person.PersonID}">Delete</a></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>